.Amenitie-icons{
  color: var(--orange-soda);
  font-size: 1.3em;
  
}
.deposite-price-tag{
  font-size: small;
}
.sharing-price-tag{
  font-size: larger;
}
.gallery-img{
  height: 400px;
  width: 650px;
}
.pg-details-occupancy{
  display: flex;
}


/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 600px screen
 */
 .bg_color{
    background-color: #e8e8e8;
 }
 .bg_review{
    background-color: #f2d48d;
 }
 .pg_nav{
    padding: 10px;
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 22;
 }
 .nav-item .active{
  border-bottom:2px solid var(--orange-soda);
 }
 .nav-item:hover {
  border-bottom: 2px solid var(--orange-soda);
}



/* add media query for 360px  */
@media(min-width:365px){
  .visibleon360{
    display:none;
  }
}
.visible360 {
  display: none; /* Hide the component by default */
}

@media (min-width: 365px) {
  .visible360 {
    display: block; /* Show the component for widths greater than 360px */
  }
}
@media (max-width: 450px) {
  .smallScreenRes{
    display: flex; 
    flex-direction: column;
    text-align: center;
  }
}
@media (min-width: 450px) {
  .nodisplayflex {
    display: flex; 
    justify-content: space-between;
    align-items: center;
  }
}
/* for the mobile view  */
@media(max-width:600px){
    .trapez1 {
        border-left: 0px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #f2d48d;
        width: auto;
        padding-top: 5px;
        font-size: 12px;
        z-index: 2;
      }.trapez2 {
        border-left: 0px solid transparent;
         border-right: 20px solid transparent;
         border-top: 20px solid #f2d48d;
         width: auto;
         padding-top: 5px;
         font-size: 12px;
         z-index: 2;
      }
      .hideonsmall{
        display:none;
      }
      .PgDetailsCard-topsec{
        background: var(--orange-soda-transparent) !important;
      }
      .pg-details-address{
        text-align: start;
      }
      .pg-details-info1{
        
        font-size: 0.8rem;
       
      }
      .pg-details-price{
        color: var(--orange-soda);
      }

      
}
 
  
  
 @media (min-width: 600px) {
   
     .trapez1 {
        border-left: 0px solid transparent;
         border-right: 20px solid transparent;
         border-top: 26px solid #f2d48d;
         width: 140px;
        font-size: 12px;
         z-index: 2;
      }.trapez2 {
        border-left: 0px solid transparent;
         border-right: 20px solid transparent;
         border-top: 26px solid #f2d48d;
         width: auto;
         font-size: 12px;
         z-index: 2;
      }
      
  }
  
  /**
    * responsive for larger than 768px screen
    */
  
  @media (min-width: 768px) {
    .verticleLinepg{
        border-left: 2px solid #cbcbcb;
        height: 6.5rem;
        position:absolute;
        top:28%;
        left:28%
      }
      
  }
  
  /**
    * responsive for larger than 992px screen
    */
  
  @media (min-width: 992px) {
  
  }
  /**
   * responsive for larger than 1200px screen
   */
  
  @media (min-width: 1200px) {
    
  }