.addBorder {
  border: 1px solid var(--orange-soda);
}

.form-select {
  outline: none !important ;
  border: none !important;
}

.location_input_select {
  width: 500px;
  z-index: 4;
}
.sharing_input_select {
  z-index: 3;
}
.seachbar-icons {
  font-size: 1.5rem;
  color: var(--orange-soda);
}
.Search-Listing ion-icon {
  color: var(--orange-soda);
}
.Filter-Search-Btn ion-icon {
  color: white;
  
}
.Filter-Search-Btn {
  position: relative;
  background: var(--orange-soda);
  color: var(--white);
  font-family: var(--ff-poppins);
  font-size: var(--fs-5);
  text-transform: var(--text-transform, capitalize);
  border: 1px solid var(--orange-soda);
  padding: 10px 20px;
  border-radius: 0.5rem;
}

.Search-Listing {
  padding: 1rem;
  background-color: var(--orange-soda-transparent);
  border-radius: 1.2rem;
}

@media (max-width: 770px) {
  .rounded-pill {
    border-radius: 0px !important;
  }
}
.custom-dropdown-toggle::after {
  content: none;
}

@media (max-width: 600px) {

  .location_input_select ,.sharing_input_select {
    width: 320px;
    
  }
  .SearchBar-listing .card-body{
    text-align: left !important;
    
  }
  .Search-listing-Location , .Search-listing-gender , .Search-listing-sharing{
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    margin-top: 0.5rem;
  }
  .margin-0-mobile{
    margin-top: 0 !important;
    
  }


}